{%- assign show_announcement = false -%}
{%- assign announcement_block_count = 0 -%}
{% for block in section.blocks %}
  {% if block.type == 'alert' %}
    {%- assign show_announcement = true -%}
    {%- assign announcement_block_count = announcement_block_count | plus: 1 -%}
  {% endif %}
{% endfor %}

{% if show_announcement %}
  <div class="alert-bar">
    <div class="page-width">
      <div
        id="AnnouncementSlider"
        class="alert-slider alert-slider--compact"
        data-compact-style="{{ section.settings.announcement_compact }}"
        data-block-count="{{ announcement_block_count }}">
        {%- assign slide_index = 0 -%}
        {% for block in section.blocks %}
          {% if block.type == 'alert' %}
            <div
              id="AnnouncementSlide-{{ block.id }}"
              class="alert-slider__slide"
              data-index="{{ slide_index }}"
              {{ block.shopify_attributes }}>
                {% if block.settings.text != blank %}
                  <span class="alert-text">{{ block.settings.text }}</span>
                {% endif %}
            </div>
            {%- assign slide_index = slide_index | plus: 1 -%}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endif %}
