<div class="index-section">
  <div class="page-width text-center">
    <div style="margin: {{block.settings.space_above}}px auto {{block.settings.space_below}}px; max-width: {{ block.settings.image_width }}px;">
      {% if block.settings.image_link != blank %}
        <a href="{{ block.settings.image_link }}">
      {% endif %}
        {% if block.settings.image != blank %}
          <img src="{{ block.settings.image | img_url: 'master' }}" width="{{ block.settings.image_width }}" alt="{{ block.settings.image.alt }}">
        {% endif %}
      {% if block.settings.image_link != blank %}
        </a>
      {% endif %}
    </div>
  </div>
</div>