<div class="index-section">
  <div class="page-width text-{{ block.settings.alignment }}">
    <div style="margin: {{ block.settings.space_above }}px auto {{ block.settings.space_below }}px;">
      <a href="{{ block.settings.button_link }}" class="btn btn--{{ block.settings.button_size }}">
        {{ block.settings.button_text }}
      </a>
    </div>
  </div>
</div>