{% assign current_url = request.path %}
{% assign current_handle = current_url | split: '/' | last %}
{% assign parent_found = false %}
{% assign rendered_handles = '' %}
{% style %}
  .collapsible-trigger.shop-button-custom {
    color: inherit;
    position: relative;
    font-size: 1.3em;
    text-align: left;
    letter-spacing:0;
}
{% endstyle %}
        <button type="button" class="collapsible-trigger shop-button-custom collapsible-trigger-btn collapsible--auto-height{% unless collapsed_state %} is-open{% endunless %} tag-list__header" aria-controls="{{ location }}-{{ index }}{% if id %}-{{ id }}{% endif %}">
          SHOP
          {% render 'collapsible-icons' %}
        </button>
                      <div
              id="{{ location }}-{{ forloop.index }}"
              class="collapsible-content collapsible-content--sidebar{% unless collapsed_state %} is-open{% endunless %}"
              {% unless collapsed_state %}style="height: auto;"{% endunless %}>
              <div class="collapsible-content__inner">
<div class="collection-sidebar small--hide">
  <ul class="no-bullets tag-list tag-list--active-tags">
    {% for link in linklists.main-menu.links %}
      {% assign link_handle = link.url | split: '/' | last %}
      {% if link.url contains current_handle or link.child_active %}
        {% assign parent_found = true %}
      {% endif %}
      
      {% if parent_found %} 

        {% unless rendered_handles contains link_handle %}
          {% assign rendered_handles = rendered_handles | append: link_handle | append: ',' %}


          {% if link.links != blank %}
            <ul class="no-bullets tag-list">
              {% for child_link in link.links %}
                {% assign child_handle = child_link.url | split: '/' | last %}
                {% unless rendered_handles contains child_handle %}
                  {% assign rendered_handles = rendered_handles | append: child_handle | append: ',' %}
                  <li class="tag {% if child_link.url == current_url %}active{% endif %}">
                    <a href="{{ child_link.url }}" class="no-ajax" style="{% if child_link.url == current_url %}font-weight: bold;{% endif %}">
                      {{ child_link.title }}
                    </a>
                    {% if child_link.links != blank %}
                      <ul class="no-bullets tag-list">
                        {% for grandchild_link in child_link.links %}
                          {% assign grandchild_handle = grandchild_link.url | split: '/' | last %}
                          {% unless rendered_handles contains grandchild_handle %}
                            {% assign rendered_handles = rendered_handles | append: grandchild_handle | append: ',' %}
                            <li class="tag {% if grandchild_link.url == current_url %}active{% endif %}">
                              <a href="{{ grandchild_link.url }}" class="no-ajax" style="{% if grandchild_link.url == current_url %}font-weight: bold;{% endif %}">
                                {{ grandchild_link.title }}
                              </a>
                            </li>
                          {% endunless %}
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endunless %}
              {% endfor %}
            </ul>
          {% endif %}
      
        {% endunless %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
  </div>
          </div>