<div
  data-subsection
  data-section-id="{{ section.id }}"
  {% if section.settings.enable_zoom %}
    data-section-type="photoswipe"
    data-zoom="true"
  {% endif %}>
<div class="image-row image-row--gutters">
  {% for block in section.blocks %}
    {% if block.settings.enable_image %}
      <div class="image-row__item aos-init aos-animate ">
        <div class="image-wrap-row" >
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}">
          {% endif %}
          {%- if block.settings.image != blank -%}
            {% assign image_url = block.settings.image | image_url: width: block.settings.image_width %}
            {{ block.settings.image | image_url: width: block.settings.image_width | image_tag: class: 'photoswipe__image js-photoswipe__zoom', alt: block.settings.caption, data-photoswipe-src:image_url, data-photoswipe-width:block.settings.image.width, data-photoswipe-height:block.settings.image.height }}
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif %}
          {% if block.settings.link != blank %}
            </a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
  </div>
{% style %}
  {% assign number_rows = 100.0 | divided_by: section.blocks.size %}
.image-row {
  display: flex;
  flex-wrap: wrap;
  {% if section.settings.enable_spacing %}
  padding-left: 15px; 
  padding-right: 15px; 
    {% endif %}
  margin-left: -0.5%; /* Adjust for negative margin on items */
  margin-right: -0.5%; /* Adjust for negative margin on items */
}

.image-row__item {
  flex: 0 0 calc({{ number_rows }}% {% if section.settings.enable_spacing %}- 1%{% endif %}); /* Each item takes up 25% of the container width minus 1% margin */
  max-width: calc({{ number_rows }}% {% if section.settings.enable_spacing %}- 1%{% endif %}); /* Each item takes up 25% of the container width minus 1% margin */
  {% if section.settings.enable_spacing %}
  margin: 0.5%; 
    {% else %}
     margin: 0%; 
     {% endif %}
  box-sizing: border-box;
}

.image-wrap-row {
  width: 100%; /* Ensures the image wrapper takes up the full width of its parent */
  overflow: hidden; /* Ensures no overflow of content */
  position: relative; /* For positioning inner elements */
  height:100%;
}

.photoswipe__image {
  width: 100%; /* Ensures the image takes up the full width of its parent */
  height: auto; /* Keeps the image aspect ratio */
  display: block; /* Removes bottom space under the image */
  height:100%;
}
{% endstyle %}
{% schema %}
{
  "name": "Image gallery",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centered"
        }
      ]
    },
    {
          "type": "checkbox",
          "id": "enable_spacing",
          "label": "Spacing",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_zoom",
          "label": "Zoom",
          "default": false
        },
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_image",
          "label": "Show image",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Image width",
          "default": 650,
          "min": 60,
          "max": 650,
          "step": 10,
          "unit": "px"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption",
          "default": "Image Caption"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image gallery",
    }
  ]
}
{% endschema %}