{% style %}
  .main-content {
    {% if section.settings.body_bg %}
    background-image: url({{ section.settings.body_bg | img_url: 'master' }});
    background-size: cover;
    background-repeat: no-repeat;
    {% else %}
    background-color: {{ section.settings.body_background_color }};
    {% endif %}
  }
  .whats-new-link {
    {% if section.settings.link_image_background %}
    background-image: url({{ section.settings.link_image_background | img_url: 'master' }});
    {% else %}
    background-color: {{ section.settings.link_color_background }};
    {% endif %}
    color: {{ section.settings.text_color }};
    border: {{ section.settings.stroke_size }}px solid {{ section.settings.stroke_color }};
  }
  .whats-new-link a {
    color: {{ section.settings.text_color }};
  }
{% endstyle %}

{% if section.settings.page_title_enable or section.settings.page_content_enable %}
  <div class="page-width page-width-{{  block.id }} page-content{% if section.blocks.size > 0 %} page-content--with-blocks{% endif %}">
    {%- include 'breadcrumbs' -%}

    <div class="grid">
      <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

        {% if section.settings.page_title_enable %}
          <header class="section-header">
            <h1 class="section-header__title">{{ page.title }}</h1>
          </header>
        {% endif %}

        {% if section.settings.page_content_enable %}
          <div class="rte text-spacing">
            {{ page.content }}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
{% endif %}

{% if section.settings.title_image %}
  <div class="grid text-center">
    <div class="grid__item whats-new-title">
      <img src="{{ section.settings.title_image | img_url: 'master' }}" width="{{ section.settings.title_image_width }}">
    </div>
  </div>
{% endif %}

<div class="grid text-center" style="padding-bottom: 150px;">
  <div class="whats-new-container">
    {% include 'page-template-blocks-whats-new' %}
  </div>
</div>

<div class="grid text-center" style="margin-bottom: 0;">
  {% include 'page-template-blocks' %}
</div>

{% schema %}
  {
    "name": "Page Blocks",
    "settings": [
      {
        "type": "color",
        "id": "body_background_color",
        "label": "Body background color",
        "default": "#fff"
      },
      {
        "type": "image_picker",
        "id": "body_bg",
        "label": "Body background image",
        "info": "Overrides background color"
      },
      {
        "type": "image_picker",
        "id": "title_image",
        "label": "Hey there image"
      },
      {
        "type": "range",
        "id": "title_image_width",
        "label": "Image width",
        "default": 900,
        "min": 360,
        "max": 1100,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "color",
        "id": "link_color_background",
        "label": "Link background color",
        "default": "#990038"
      },
      {
        "type": "image_picker",
        "id": "link_image_background",
        "label": "Link background image",
        "info": "Overrides background color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Link text color",
        "default": "#990038"
      },
      {
        "type": "range",
        "id": "stroke_size",
        "label": "Stroke size",
        "default": 5,
        "min": 0,
        "max": 10,
        "unit": "px"
      },
      {
        "type": "color",
        "id": "stroke_color",
        "label": "Stroke color",
        "default": "#fff"
      }
    ],
    "blocks": [
      {
        "type": "whats-new",
        "name": "Whats new link",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "custom-html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "checkbox",
            "id": "full_width",
            "label": "Full page width",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "space_around",
            "label": "Add spacing above and below",
            "default": true
          },
          {
            "type": "textarea",
            "id": "code",
            "label": "HTML",
            "default": "<h2>Custom HTML</h2><p>Use this advanced section to build your own layouts or to add custom HTML or scripts.</p>"
          }
        ]
      }
    ]
  }
{% endschema %}

