<div class="index-section-no-margin" id="{{ section.id }}">
  <div class="page-width text-{{ section.settings.alignment }}">
    <div style="margin: {{ section.settings.space_above }}px auto {{ section.settings.space_below }}px;">
      <a href="{{ section.settings.button_link }}" class="btn btn--{{ section.settings.button_size }} custom-button">
        {{ section.settings.button_text }}
      </a>
    </div>
  </div>
</div>
<style>
  {{ section.id }} {
    background-color: {{ section.settings.link_color_background }};
    color: {{ section.settings.link_color_text }};
  }
</style>
{% schema %}
{
  "name": "Custom Button",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Click Here"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Button Size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "huge",
          "label": "Huge"
        }        
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "number",
      "id": "space_above",
      "label": "Space Above (px)",
      "default": 30
    },
    {
      "type": "number",
      "id": "space_below",
      "label": "Space Below (px)",
      "default": 20
    },
    {
        "type": "color",
        "id": "link_color_background",
        "label": "Button background color",
        "default": "#9ba586"
      },
        {
        "type": "color",
        "id": "link_color_text",
        "label": "Button text color",
        "default": "#ffffff"
      },
  ],
  "presets": [
    {
      "name": "Custom Button",
    }
  ]
}
{% endschema %}