<div class="index-section team-bios">
  <div class="page-width text-{{ section.settings.align_text }}">
    {% if section.settings.title != blank %}
      <div class="section-header">
        <h2>{{ section.settings.title }}</h2>
      </div>
    {% endif %}
    {% assign text_column_count = section.settings.number_columns | times: 1 %} 

    <div class="grid" style="display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
      {% for block in section.blocks %}
        {% case text_column_count %}
          {% when 1 %}
            {% assign grid_item_width = '100%' %}
          {% when 2 %}
            {% assign grid_item_width = '50%' %}
          {% when 3 %}
            {% assign grid_item_width = '33.3333%' %}
        {% endcase %}
        <div class="grid__item" data-aos="row-of-{{ text_column_count }}" style="flex: 0 0 {{ grid_item_width }}; max-width: {{ grid_item_width }}; padding-right: 15px; padding-left: 15px; box-sizing: border-box;">
          {% if block.settings.enable_image %}
            <div class="image-wrap text-spacing" style="{% if section.settings.align_text == 'center' %}margin: 0 auto 10px;{% else %}margin-bottom: 10px;{% endif %} max-width:{{ block.settings.image_width }}px;">
              <a href="{{ block.settings.image | image_url: width: block.settings.image_width }}" data-fancybox="our-team" data-caption="{{ block.settings.title }}">
                {{ block.settings.image | image_url: width: block.settings.image_width | image_tag: alt: block.settings.title }}
              </a>
            </div>
          {% else %}
            <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
          {% endif %}
          {% if block.settings.title != blank %}
            <p class="article__title">{{ block.settings.title }}</p>
          {% endif %}
          {% if block.settings.text != blank %}
            <div class="rte-setting text-spacing">{{ block.settings.text }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Team Bios",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "number_columns",
      "label": "Number of Columns",
      "options": [
        {
          "value": "2",
          "label": "Two"
        },
        {
          "value": "3",
          "label": "Three"
        }
      ],
      "default": "2"
    },
  ],
  "blocks": [
    {
      "type": "team_member",
      "name": "Team Member",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_image",
          "label": "Enable Image",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Image Width",
          "min": 60,
          "max": 650,
          "step": 10,
          "default": 300,
          "unit": "px"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Name"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Bio"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Team Bios"
    }
  ]
}
{% endschema %}